.card {
  border-radius: 12px;
  border: transparent;
  width: 340px;
  height: 220px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.card:hover,
.card:focus {
  cursor: pointer;
  scale: 1.06;
  transition: scale 250ms ease-in-out;
  box-shadow:
    0 0 7px rgb(116, 220, 252),
    0 0 17px rgb(69, 252, 191);
}
