.button {
  display: block;
  background-color: rgb(116, 220, 252);
  color: white;
  border: transparent;
  height: 38px;
  width: 120px;
  margin-top: 10px;
  border-radius: 6px;
}

.button:hover,
.button:focus {
  cursor: pointer;
  scale: 1.1;
  transition: scale 250ms ease-in-out;
  box-shadow: 0 0 10px rgb(11, 252, 172);
}
